@import "tailwindcss";

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}


body {
  font-family: "Montserrat", sans-serif;
  margin: 0px; /* прибирає зовнішні відступи */
  padding: 0px; /* прибирає внутрішні відступи */
  box-sizing: border-box; /* робить ширину/висоту більш передбачуваною */
}
